<!DOCTYPE html>
<html ng-app="s3RedShiftApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>S3-RedShift Loader</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	angular.module('s3RedShiftApp', []).controller(
			's3RedShiftAppController',
			function($scope, $window, $http) {
				var mydata = this;
				
				// sorting
				mydata.sortKey = 'bucket';
				mydata.sortInvert = false;
				mydata.setSorting = function(key){
					mydata.sortKey = key;
					mydata.sortInvert = !mydata.sortInvert;
				}
				
				// filter
				mydata.filterText = null;
				mydata.clearFilter = function(){
					mydata.filterText = null;
					this.filterProcess();
				}
				// filter processor
				mydata.filterProcess = function() {
					console.log('Filter:'+mydata.filterText);
					if(mydata.filterText == null || mydata.filterText == ''){
						mydata.filteredData = mydata.data;
						return;
					}
					mydata.filteredData = [];
					var parts = mydata.filterText.toUpperCase().split(' ');
					angular.forEach(mydata.data, function(row) {
						var passed = false;
						for (i = 0; i < parts.length; ++i) {
							var part = parts[i];
							if (row.Bucket.toUpperCase().includes(part)){
								passed = true;
								continue;
							} else if (row.RedShift.toUpperCase().includes(part)){
								passed = true;
								continue;
							}
							passed = false;
						}
						if(passed){
							mydata.filteredData.push(row);
						}
					});
				};
				
				// form data
				mydata.selectedIndex = null;
				mydata.selectedId = null;
				mydata.selectedBucket = null;
				mydata.buckets = ['dgallagher-bucket','dgallagher.file-dump','dgallagher.lambda-store','dgallagher.reporting','dgallagher.reporting-service'];
				mydata.selectedRedshift = null;
				mydata.redshift = ['harvest.surplus','ds.backup','harvest.logs', 'pu.table'];
				mydata.selectedStatus = null;
				mydata.status = ['No', 'Yes'];
				mydata.selectedFiles = null;
				mydata.selectedBatch = null;
				
				// clear select bucket
				mydata.clear = function(bucketName){
					mydata.closeAlert();
					mydata.selectedIndex = null;
					mydata.selectedId = null;
					mydata.selectedBucket = null;
					mydata.selectedRedshift = null;
					mydata.selectedStatus = null;
					mydata.selectedFiles = null;
					mydata.selectedBatch = null;
				}
				
				// form alert
				mydata.showAlert = false;
				mydata.alertMessage = null;
				// close alert
				mydata.closeAlert = function(){
					mydata.setAlert(false, null);
					mydata.closeConfDel();
				}
				mydata.setAlert = function(alert, msg){
					mydata.showAlert = alert;
					mydata.alertMessage = msg;
				}
				
				// confirm delete
				mydata.showConfDel = false;
				mydata.confDelMessage = null;
				// close alert
				mydata.closeConfDel = function(){
					mydata.setConfDel(false, null);
				}
				mydata.setConfDel = function(alert, msg){
					mydata.showConfDel = alert;
					mydata.confDelMessage = msg;
				}
				
				
				// form validation
				mydata.validateForm = function(){
					console.log('in validation');
					if(mydata.selectedBucket == null){
						mydata.setAlert(true, 'ERROR: Please select a bucket');
						return false;
					}
					if(mydata.selectedStatus == null){
						mydata.setAlert(true, 'ERROR: Please select if live');
						return false;
					}
					if(mydata.selectedFiles == null){
						mydata.setAlert(true, 'ERROR: Please select a number of file');
						return false;
					}
					if(mydata.selectedBatch == null){
						mydata.setAlert(true, 'ERROR: Please select a batch size');
						return false;
					}
					if(mydata.selectedRedshift == null){
						mydata.setAlert(true, 'ERROR: Please select a RedShift table');
						return false;
					}
					return true;
				}
				
				// new record validation
				mydata.validateNew = function(){
					var result = true;
					angular.forEach(mydata.data, function(item){
						if(item.bucket == mydata.selectedBucket){
							mydata.setAlert(true, 'ERROR: Loader already exists for bucket: '+mydata.selectedBucket);
							result = false;
						}
					});
					if(!result){
						return false;
					}
					angular.forEach(mydata.data, function(item){
						if(item.redShift == mydata.selectedRedshift){
							mydata.setAlert(true, 'ERROR: Loader already exists for RedShift: '+mydata.selectedRedshift);
							result = false;
						}
					});
					if(!result){
						return false;
					}
					return true;
				}

				// table header
				mydata.header = [
					{name: 'bucket', setting : ''},
					{name: 'live', setting : ''},
					{name: 'files', setting : ''},
					{name: 'batch', setting : 'hidden-xs'},
					{name: 'redShift', setting : 'hidden-xs'},
					{name: '', setting : ''}
					];

				// table data
				mydata.data = [{id : 0,bucket : 'dgallagher-bucket',live : true,files : 10000,batch : 1000,redShift : 'harvest.surplus'}, {id : 1,bucket : 'dgallagher.file-dump',live : true,files : 10000,batch : 1000,redShift : 'ds.backup'}, {id : 2,bucket : 'dgallagher.lambda-store',live : false,files : 250000,batch : 20000,redShift : 'harvest.logs'}];
				
				mydata.filteredData = mydata.data;
				
				// display selected table row, based on id
				mydata.edit = function(id){
					angular.forEach(mydata.data, function(item){ // use foreach demo could use index
						if(item.id == id){
							mydata.closeAlert();
							mydata.selectedIndex = mydata.data.indexOf(item);
							mydata.selectedId = item.id;
							mydata.selectedBucket = item.bucket;
							mydata.selectedRedshift = item.redShift;
							if(item.live){
								mydata.selectedStatus = 'Yes';
							} else{
								mydata.selectedStatus = 'No';
							}
							mydata.selectedFiles = item.files;
							mydata.selectedBatch = item.batch;
						}
						
					});
				}
				
				// update record
				mydata.update = function(){
					console.log('in update');
					if(mydata.selectedId == null){
						mydata.setAlert(true, 'ERROR: Please select a record to update');
						return;
					}
					if(!this.validateForm()){
						console.log('validation failed');
						return;
					}
					//var index = mydata.data.indexOf(item);
					//console.log('Index:'+index);
					//mydata.data.splice(index,1);
					// TODO:dg json update call & update if success
					if(mydata.data[mydata.selectedIndex].bucket != mydata.selectedBucket){
						mydata.setAlert(true, 'ERROR: Cannot change bucket: '+mydata.selectedBucket);
						return;
					}
					mydata.data[mydata.selectedIndex].bucket = mydata.selectedBucket;
					mydata.data[mydata.selectedIndex].redShift = mydata.selectedRedshift;
					mydata.data[mydata.selectedIndex].live = (mydata.selectedStatus == 'Yes');
					mydata.data[mydata.selectedIndex].files = mydata.selectedFiles;
					mydata.data[mydata.selectedIndex].batch = mydata.selectedBatch;
					mydata.filterProcess();
					mydata.setAlert(true, 'SUCCESS: Updated record for: '+mydata.selectedBucket);
				}
				
				// add new record
				mydata.addNew = function(){
					console.log('in update');
					if(!this.validateForm()){
						console.log('validation failed');
						return;
					}
					if(!this.validateNew()){
						console.log('validation failed dup');
						return;
					}
					// TODO:dg JSON add call
					var newRec;
					if(mydata.data.length == 0){
						var newRec = {id : 0,bucket : 'dgallagher-bucket',live : true,files : 10000,batch : 1000,redShift : 'harvest.surplus'};
					} else{
						newRec = angular.copy(mydata.data[0]);
					}
					newRec.id = mydata.data.length;
					newRec.bucket = mydata.selectedBucket;
					newRec.redShift = mydata.selectedRedshift;
					newRec.live = (mydata.selectedStatus == 'Yes');
					newRec.files = mydata.selectedFiles;
					newRec.batch = mydata.selectedBatch;
					// json call
					var payload = mydata.buildPayload('ADD', newRec);
					console.log(JSON.stringify(payload));
					$http.post(
							'https://8p61mpr4yl.execute-api.eu-west-1.amazonaws.com/prod/PostDemo',
							payload)
							.then(
								function (response) {
									var resData = response.data;
									console.log('ResData:'+resData.response);
									if(resData.response == 'success'){
										mydata.clear();
										mydata.data.push(newRec);
										mydata.filterProcess();
										mydata.setAlert(true, 'SUCCESS: Added new record for: '+newRec.bucket);
									}
								},
								function (data, status, header, config) {
									mydata.setAlert(true, 'ERROR: Problem adding new record');
								}
							);
				}
				
				mydata.delete = function(){
					console.log('in delete');
					if(mydata.selectedId == null){
						mydata.setAlert(true, 'ERROR: Please select a record to delete');
						return;
					}
					if(!this.validateForm()){
						console.log('validation failed');
						return;
					}
					mydata.setConfDel(true,'Confirm delete?');
				}
				
				mydata.doDelete = function(){
					var payload = mydata.buildPayload('DELETE', mydata.data[this.selectedIndex]);
					console.log(JSON.stringify(payload));
					$http.post(
							'https://8p61mpr4yl.execute-api.eu-west-1.amazonaws.com/prod/PostDemo',
							payload)
							.then(
								function (response) {
									var resData = response.data;
									console.log('ResData:'+resData.response);
								},
								function (data, status, header, config) {
								
								}
							);
				}
				
				mydata.buildPayload = function(doAction, record){
					var payLoad = {
							action : doAction,
							bucket : record.bucket,
							live : (record.live == 'Yes'),
							files : record.files,
							batch : record.batch,
							redShift : record.redShift
					};
					return payLoad;
				}
				
				
			});
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load("current", {
		packages : [ "corechart" ]
	});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
				[ 'Task', 'Hours per Day' ], [ 'Work', 11 ], [ 'Eat', 2 ],
				[ 'Commute', 2 ], [ 'Watch TV', 2 ], [ 'Sleep', 7 ] ]);

		var options = {
			title : 'My Daily Activities',
			is3D : true,
		};

		//var chart = new google.visualization.PieChart(document
		//		.getElementById('piechart_3d'));
		//chart.draw(data, options);
	}
</script>
</head>
<body ng-controller="s3RedShiftAppController as mydata">
	<div class="container" id="top">
		<div>
			<h3 class="page-header">S3-RedShift Loader</h3>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback input-group-sm">
					<input ng-model="mydata.filterText"
						ng-change="mydata.filterProcess()" type="search"
						class="form-control" aria-describedby="inputError2Status"
						placeholder="filter..." aria-label="filter"> <span
						ng-click="mydata.clearFilter()"
						class="glyphicon glyphicon-remove form-control-feedback"
						style="pointer-events: initial; color: #31b0d5; cursor: pointer;"></span>
				</div>
				<div>
					<table class="table table-hover table-condensed">
						<thead>
							<tr class="info">
								<th style="cursor: pointer" class="{{head.setting}}"
									ng-repeat="head in mydata.header"
									ng-click="mydata.setSorting(head.name)">{{head.name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in mydata.filteredData | orderBy:mydata.sortKey:mydata.sortInvert">
								<td>{{row.bucket}}</td>
								<td ng-if="row.live == true"><span
									class="label label-success">Yes</span></td>
								<td ng-if="row.live == false"><span
									class="label label-danger">No</span></td>
								<td>{{row.files}}</td>
								<td class="hidden-xs">{{row.batch}}</td>
								<td class="hidden-xs">{{row.redShift}}</td>
								<td><a href="#myForm"><button type="button" ng-click="mydata.edit(row.id)" class="btn btn-info btn-xs">Edit</button></a>
								</td>
								<!-- <td><a href="" target="_blank"><button type="button" class="btn btn-warning btn-xs">Log</button></a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<form id="myForm">
					<div class="alert alert-warning" ng-show="mydata.showAlert">
						<button type="button" class="close glyphicon glyphicon-remove"
							data-ng-click="mydata.closeAlert()"></button>
						<strong>{{mydata.alertMessage}}</strong>
					</div>
					<div class="form-group">
						<label for="exampleInputBucket">Bucket</label>
						<select
							class="form-control" id="exampleInputBucket"
							ng-model="mydata.selectedBucket"
							ng-options="opt as opt for opt in mydata.buckets">
							<option disabled selected></option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInputBucket">Live</label> <select
							class="form-control" id="exampleInputBucket"
							ng-model="mydata.selectedStatus"
							ng-options="opt as opt for opt in mydata.status">
							<option disabled selected></option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Files</label> <input
							type="number" ng-model="mydata.selectedFiles"
							class="form-control" id="exampleInputPassword1"
							placeholder="Number 1 - 1,000,000">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Batch</label> <input
							type="number" ng-model="mydata.selectedBatch"
							class="form-control" id="exampleInputPassword1"
							placeholder="Number 1 - 1,000">
					</div>
					<div class="form-group">
						<label for="exampleInputBucket">RedShift</label> <select
							class="form-control" id="exampleInputBucket"
							ng-model="mydata.selectedRedshift"
							ng-options="opt as opt for opt in mydata.redshift">
							<option disabled selected></option>
						</select>
					</div>
					<div class="alert alert-danger" ng-show="mydata.showConfDel">
						<button type="button" class="close glyphicon glyphicon-remove"
							data-ng-click="mydata.closeConfDel()"></button>
						<!-- <strong>{{mydata.confDelMessage}}</strong>-->
						<button type="submit" ng-click="mydata.doDelete()" class="btn btn-danger btn-sm">{{mydata.confDelMessage}}</button>
					</div>
					<button type="submit" ng-click="mydata.update()"
						class="btn btn-info">Update</button>
					<button type="submit" ng-click="mydata.clear()"
						class="btn btn-warning">Clear</button>
					<button type="submit" ng-click="mydata.addNew()"
						class="btn btn-success">Add New</button>
					<button type="submit" ng-click="mydata.delete()"
						class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
		<!-- <div id="piechart_3d"></div>-->
		<div style="height: 30px;"></div>
		<div style="width: 100%; text-align: center; vertical-align: bottom;">
			<a href="#top">
				<button type="button" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
				</button>
			</a>
		</div>
	</div>
</body>
</html>